.headlines {
  text-align:center;
}

.headline {
  display: inline-block;
  padding: 0 15px
}

.ingredient {
  display: table-row;
  > div {
    display: table-cell;
    padding: 10px;
  }
}

.qty {
  text-align: right;
}

.ingredientName {

}

.changeServeSize {
  display: inline-block;
  cursor: pointer;

  &:hover {
    font-weight: bold;
  }
}

.serves {
  display: inline-block;
  margin: 5px;
}
